.breadcrumbs {
  font-size: 16px;
  color: #666;
  user-select: none;

  .crumb {
    cursor: pointer;
    color: #1877f2;

    &:hover {
      text-decoration: underline;
    }
  }

  .sep {
    margin: 0 5px;
    color: #999;
  }
}