.fanpages {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 24px;
  padding: 24px;
  background: var(--color-white);
}

.path {
  font-size: 32px;
  margin-bottom: 36px;
  color: var(--color-main-blue);

  span {
    cursor: pointer;
  }
}

.fanpageForm {
  width: 100%;
}



