.navbar {
  padding: 24px 4px 24px 24px;
  height: 100vh;
  background: #fff;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 56px;

  p {
    font-size: 20px;
    font-weight: 500;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.menuWrapper {
  h3 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gray);
  }
}

.menulist {
  display: flex;
  flex-direction: column;
}

