.fbformList {
  margin-bottom: 36px;
  max-height: 250px;
  overflow-y: auto;
}
.fbformItem {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.formMarker {
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 50%;
}
.formMarkerActive {
  background: #0b6ab771;
  border-color: var(--color-main-blue);
}
.deletefile {
  background: #da4848;
  font-size: 18px;
  padding: 9px 38px;
  border-radius: 12px;
  text-align: center;
  color: var(--color-white);
}

.filecontent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 8px 54px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border: 2px solid var(--color-main-blue);
  border-radius: 12px;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btn:hover {
  color: var(--color-white);
  background: var(--color-main-blue);
  transition: 0.3s;
}

