.main {
  display: grid;
  grid-template-columns: 15% auto;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}