.dropdownContainer {
  position: relative;
  width: 150px;
}
.input {
  width: 100%;
  font-size: 18px;
  padding: 12px 8px; /* py-3 px-2 */
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.dropdown {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
              0 2px 4px -2px rgba(0,0,0,0.1);
}

.option {
  padding: 8px 12px; /* py-2 px-3 */
  cursor: pointer;
}

.option:hover {
  background-color: var(--color-main-blue);
  color: #ffffff;
}

